MARKET_COPILOT_GRAPHQL_ENDPOINT=http://127.0.0.1:8000/graphql
MARKET_COPILOT_API_BASE_URL=http://127.0.0.1:8000
MARKET_COPILOT_SESSION_SECRET=REPLACE_ME_WITH_A_LONG_RANDOM_SECRET
MARKET_COPILOT_SESSION_COOKIE_SECURE=false
